<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{element}} Deleted</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="luxecars">

    <!-- Header_index with Mustache Partials -->
    {{> header_index }}
    
    <div>
    <section class="brands text-center" style="margin-top:80px;">
        <h2>{{element}} successfully deleted</h2>
       
        <a href="{{link}}" class="btn btn-outline-dark">Return to {{element}} Page</a>
    </section>
    </div>
    
    <!-- Footer implemented with Mustache Partials -->
    {{> footer }}

</body>

</html>