<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{element}} Updated</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="luxecars">

    <!-- Header_index with Mustache Partials -->
    {{> header_index }}

    <section class="brands text-center" style="margin-top:80px;">
        <h2>{{element}} successfully updated</h2>
        
        <a href="{{link}}" class="btn btn-outline-dark">Go Back to {{element}} Page</a>
    </section>

    <!-- Footer implemented with Mustache Partials -->
    {{> footer }}

</body>

</html>